<!DOCTYPE html>
<html lang="en">
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Tech interview test server</title>

        <script type="text/javascript" src="script.js"></script>
        <link rel="stylesheet" href="style.css" />

    </head>
    <body>

        <!-- DIV to show Ajax restand compose and to be the container of our view -->
        <div id="result0">
            
            <!-- Button to access 1 character only -->
            <p><button type="button" class="btn" onClick="ajaxRequest('stories?id=1009351&offset=0', 'result0');">Get Hulk stories</button></p>

            <!-- Bonus button to access all character loding an offset of 20 charaters on click -->
            <p><button type="button" class="btn" onClick="ajaxRequest( 'characters?offset=0', 'result0' );">Get all heroes</button></p>

        </div>

    </body>
</html>

